@use "./mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--primary-bg-clr);
    color: var(--txt-clr);
    font-family: var(--corpus-ff);
    font-size: var(--fs-300);
}

body[data-ttrpg-genre="fantasy"] {
    --accent-clr: var(--fantasy-accent-clr);
}

body[data-ttrpg-genre="scifi"] {
    --accent-clr: var(--scifi-accent-clr);
}

body[data-ttrpg-genre="horror"] {
    --accent-clr: var(--horror-accent-clr);
}

h1,
h2,
h3 {
    font-family: var(--title-ff);
}

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    text-decoration: none;
}

li {
    list-style-type: none;
}