@use "./mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color: var(--primary-bg-clr);
    color: var(--txt-clr);
    font-family: var(--corpus-ff);
    font-size: var(--corpus-fs);
}

body[data-ttrpg-genre="fantasy"] {
    --_accent-clr: var(--fantasy-accent-clr, hsl(29, 100%, 50%));
    --_accent-values: var(--fantasy-accent-values);
    --_txt-clr: var(--fantasy-txt-clr, hsl(0, 0%, 100%));
}

body[data-ttrpg-genre="scifi"] {
    --_accent-clr: var(--scifi-accent-clr, hsl(290, 100%, 50%));
    --_accent-values: var(--scifi-accent-values);
    --_txt-clr: var(--scifi-txt-clr, hsl(0, 0%, 100%));
}

body[data-ttrpg-genre="horror"] {
    --_accent-clr: var(--horror-accent-clr, hsl(152, 100%, 50%));
    --_accent-values: var(--horror-accent-values);
    --_txt-clr: var(--horror-txt-clr, hsl(0, 0%, 100%));
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100svh;
}

h1,
h2,
h3 {
    font-family: var(--title-ff);
    line-height: 1.2;
}

main h2 {
    font-size: var(--title-fs);
}

img {
    display: block;
    max-width: 100%;
}

a:focus-visible, button:focus-visible {
    outline-width: 2px;
    outline-offset: .25em;
    outline-color: var(--_txt-clr);
}

a {
    display: block;
    text-decoration: none;
    color: var(--txt-clr);
}

p > a {
    display: inline-block;
}

li {
    list-style-type: none;
}

footer {
    justify-self: center;
    align-self: end;
    padding-bottom: 1em;
    width: 100%;
    font-size: var(--nav-fs);
    p {
        text-align: center;
        font-size: var(--legend-fs);
    }
}
