.page-width {
    width: calc(100% - var(--page-width-margin));
}

.page-max-width {
    max-width: var(--page-max-width);
}

.center-horizontal {
    margin-inline: auto;
}

.corpus-line-height {
    line-height: 1.5;
}