@use "../../assets/styles/mixins" as *;  

.btn {
    font-size: var(--nav-fs);
    padding: .5em 1.5em;
    border-radius: 100vw;
    cursor: pointer;
    &_phantom {
        border: .125em solid var(--accent-clr);
        background-color: transparent;
        color: var(--accent-clr);
        filter: drop-shadow(0 0 var(--drop-shadow-blur) var(--fantasy-accent-clr));
        transition: filter 400ms ease, border-color 300ms ease-in-out 100ms, background-color 300ms ease-in-out 100ms, color 300ms ease-in-out 100ms;
        @include hover {
            filter: none;
            border-color: var(--txt-clr);
            background-color: var(--txt-clr);
            color: var(--primary-bg-clr);
        }
    }
}